.container {
  width: 100%;
.department-container{
  .department-item{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   .department-describe{
     font-size: 28rpx;
     color: gray;
   }
  }
}
}